<ng-template #new>
  <p>
    Hi, I hope this demo was useful to learn more new dynamic componentnew
    dynamic componentnew dynamic componentnew dynamic componentnew dynamic
    componentnew dynamic componentnew dynamic componentnew dynamic componentnew
    dynamic componentnew dynamic componentnew dynamic componentnew dynamic
    componentnew dynamic components in Angular, in specific about
    <code>ViewContainerRef</code>, <code>ComponentResolverFactory</code> etc.
  </p>
</ng-template>
